.section-about {
  background-color: #fafafa;

  .section-title {
    margin-bottom: 40px;
  }

  .columns-reverse {
    flex-direction: row-reverse;
  }

	.column-v-centered {
		margin: auto 0;
	}

	.border-bottom {
		margin-bottom: 70px;
		border-bottom: 2px solid lightgrey;
	}

  .tile {
    padding-bottom: 20px;
    text-align: center;

    &:last-child {
      padding-bottom: 0;
    }

    @include desktop {
      text-align: left;
    }

    .tile-title {
      padding-bottom: 20px;
      font-size: 1.2em;
      font-weight: 600;
    }
  }

	.portrait {
		position: relative;
		display: block;
		width: auto;
		height: 375px;
		object-fit: cover;
		margin: 0 auto;
		padding-bottom: 60px;

		@include desktop {
			width: 60%;
		}
	}

  .about-blurb {
		padding-bottom: 80px;
		text-align: left;
		font-size: 1em;

		@include desktop {
			padding-bottom: 100px;
			font-size: 1.1em;
    }
  }

  .tech-icons {
    li {
      display: inline-block;
      vertical-align: top;
      height: 45px;
      margin-right: 15px;
      margin-bottom: 35px;

      img {
        height: 100%;
      }
    }
  }

  .button-resume {
    margin-top: 20px;

    @include desktop {
      margin-top: 35px;
    }
  }

  .button-contact {
    margin-top: 40px;
  }
}
