.section-contact {
  background-color: $primary;

  .section-title {
    color: #fff;
    margin-bottom: 40px;

    &:after {
      border-color: #fff;
    }
  }

  .contact-form {
    overflow: hidden;

    .notification {
      display: none;
    }

    .label {
      color: #fff;
      text-transform: uppercase;
    }

    .button {
      margin-top: 20px;
    }
  }

  .grecaptcha-badge {
    bottom: 3px !important;
  }
}
