.section-contact {
  background-color: $primary;
  padding: 0 0 80px;

  .section-title {
    color: #fff;
    margin-bottom: 40px;

    &:after {
      border-color: #fff;
    }
  }

  .contact-form {
    .label {
      color: #fff;
    }

    .icon {
      .fa {
        margin: 10px;
      }
    }

    .button {
      margin-top: 20px;
    }
  }
}
