.section-welcome {
  position: relative;
  height: 100vh;
  background: $primary url('../img/background.jpg') no-repeat fixed center;
  background-size: cover;
  text-align: center;
  color: #fff;
  z-index: 99;

  .navbar {
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .full-height {
    height: 100%;
  }

  .pretitle {
    margin-top: -50px;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    @include mobile {
      margin-top: 0;
    }
  }

  .title {
    font-size: 7em;
    letter-spacing: 0.03em;
  }

  .subtitle {
    font-size: 1.8em;
    font-family: 'Cardo', serif;

    #whoami {
      background-color: black;
      padding: 0 8px 2px;
    }
  }

  .bottom {
    position: absolute;
    bottom: 5em;
    left: 0;
    right: 0;
    text-align: center;

    @include mobile {
      bottom: 1em;
    }
  }

  .down-arrow {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;

    .fa {
      position: absolute;
      left: 0;
      right: 0;
      top: 25px;
      font-size: 4.5em;
    }

    @include mobile {
      font-size: 0.9em;

      .fa {
        font-size: 2.5em;
      }
    }
  }

  .social-icons {
    margin-top: 50px;

    @include mobile {
      margin-top: 30px;
    }

    li {
      display: inline-block;
      margin-right: 20px;
      font-weight: 600;

      &:last-child {
        margin-right: 0;
      }

      svg {
        height: 30px;
        fill: #fff;
        transition: opacity 0.3s ease-out;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  @include tablet {
    .pretitle {
      font-size: 1em;
    }

    .title {
      font-size: 6.2em;
    }

    .subtitle {
      font-size: 1.5em;
    }
  }

  @include mobile {
    .pretitle {
      margin-bottom: 5px;
      font-size: 0.8em;
    }

    .title {
      font-size: 2.5em;
    }

    .subtitle {
      margin-top: 10px;
      font-size: 1.1em;
    }
  }
}
