<div class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>&copy; 2018 <b>Erik Saulnier</b>, All Rights Reserved.</p>
        </div>
    </div>
</div>

<!-- Scripts -->
<!-- inject:js -->
<!-- endinject -->

<!-- reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js"></script>
