<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Erik Saulnier</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- inject:css -->
<!-- endinject -->

<!-- Google Analytics -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-31436790-4','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<!-- ReCaptcha -->
<script src="https://www.google.com/recaptcha/api.js"></script>
