<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Erik Saulnier</title>
<meta name="description" content="Erik Saulnier is a developer and designer based in Troy, NY.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- SEO -->
<meta name="keywords" content="portfolio, developer, designer, student">
<meta name="author" content="Erik Saulnier">
<meta name="copyright" content="© Copyright 2018 - Erik Saulnier" />

<!-- Robots -->
<meta name="robots" content="index, follow">

<!-- Facebook meta -->
<meta property="og:title" content="Erik Saulnier's Portfolio"/>
<meta property="og:image" content="https://eriksaulnier.com/img/share.jpg"/>
<meta property="og:url" content="https://eriksaulnier.com/"/>

<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SirAlternate">
<meta name="twitter:creator" content="@SirAlternate">
<meta name="twitter:title" content="Erik Saulnier's Portfolio">
<meta name="twitter:description" content="Erik Saulnier is a developer and designer based in Troy, NY.">
<meta name="twitter:image:src" content="https://eriksaulnier.com/img/share.jpg">

<!-- Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">

<!-- Styles -->
<!-- inject:css -->
<!-- endinject -->

<!-- Fonts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400|Montserrat:500,700|Open+Sans:400,400i,600" />

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31436790-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-31436790-5');

  setTimeout("gtag('event', 'read', { event_label: '30 seconds on page' })", 30000);
</script>
