<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <img src="img/icon_ondark.svg" alt="Erik Saulnier">

      <div class="navbar-burger burger" data-target="navbarMain">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#work">
          Work
        </a>
        <!-- <a class="navbar-item navbar-box" href="#contact">
          Contact
        </a> -->
      </div>
    </div>
  </div>
</nav>
