<section class="section section-welcome">
    {{> navbar}}

    <div class="container full-height content-is-v-centered">
        <h3 class="pretitle" data-aos="fade-down">Hello my name is</h3>
        <h1 class="title" data-aos="zoom-in" data-aos-delay="400">Erik Saulnier</h1>
        <h2 class="subtitle" data-aos="fade-up" data-aos-delay="800">I'm a <span id="whoami">developer &amp; designer</span> with a strong passion for technology</h2>
        <ul class="social-icons">
            <li data-aos="fade-left" data-aos-delay="1300">
                <a class="linkedin" href="https://www.linkedin.com/in/eriksaulnier" target="_blank" onclick="gtag('event', 'click', { event_category: 'social', event_label: 'Linkedin' })">{{> icons/linkedin}}</a>
            </li>
            <li data-aos="fade-left" data-aos-delay="1450">
                <a class="github" href="https://github.com/SirAlternate" target="_blank" onclick="gtag('event', 'click', { event_category: 'social', event_label: 'GitHub' })">{{> icons/github}}</a>
            </li>
            <li data-aos="fade-left" data-aos-delay="1500">
                <a class="behance" href="https://www.behance.net/eriksaulnier" target="_blank" onclick="gtag('event', 'click', { event_category: 'social', event_label: 'Behance' })">{{> icons/behance}}</a>
            </li>
            <li data-aos="fade-left" data-aos-delay="1550">
                <a class="flickr" href="https://www.flickr.com/photos/eriksaulnier" target="_blank" onclick="gtag('event', 'click', { event_category: 'social', event_label: 'Flickr' })">{{> icons/flickr}}</a>
            </li>
        </ul>

        <div class="bottom" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="3000">
            <a class="down-arrow page-scroll">
                Scroll Down <br />
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
