<section class="section section-welcome">
    {{> navbar}}

    <div class="container full-height content-is-v-centered">
        <h3 class="pretitle" data-aos="fade-down">Hello my name is</h3>
        <h1 class="title" data-aos="zoom-in" data-aos-delay="400">Erik Saulnier</h1>
        <h2 class="subtitle" data-aos="fade-up" data-aos-delay="800">I'm a <span id="whoami">developer &amp; designer</span> with a strong passion for technology.</h2>

        <a class="bottom-arrow page-scroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="2200">
            Scroll Down <br />
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
    </div>
</section>
